@use "../../functions/f-get-token" as token;

// Повна мапа кольорів
$colors: token.get(color);

// Звичайні SCSS-значення

$bg-primary: token.get(color, "bg.primary");
$bg-secondary: token.get(color, "bg.secondary");
$bg-tertiary: token.get(color, "bg.tertiary");
$bg-overlay: token.get(color, "bg.overlay");

$text-primary: token.get(color, "text.primary");
$text-title: token.get(color, "text.title");
$text-accent: token.get(color, "text.accent");

$btn-text-primary: token.get(color, "button.text-primary");
$btn-primary: token.get(color, "button.primary");
$btn-default: token.get(color, "button.default");
$btn-info: token.get(color, "button.info");
$btn-success: token.get(color, "button.success");
$btn-warning: token.get(color, "button.warning");
$btn-danger: token.get(color, "button.danger");

$svg-primary: token.get(color, "svg.primary");
$svg-secondary: token.get(color, "svg.secondary");
