@use "../abstracts" as *;

.co-workers {
  grid-area: co-workers;

  & .co-workers-wrapper {
    background-color: $v-bg-secondary;
    border-radius: 12px;
    padding: 16px;
  }

  & .co-workers-data {
    display: flex;
    align-items: center;
  }
}

.co-workers-wrapper {
}
.co-workers-title {
}
.co-workers-container {
}
.co-workers-details {
}
.co-workers-data {
}
.co-workers-icon {
}
.plus {
}
.minus {
}
.co-workers-bio {
}
.thumb {
}
.co-workers-caption {
}
.co-workers-controls {
}
.controls-btn {
}
.controls-btn-icon {
}
.success {
}
.error {
}
.co-workers-info {
}
.co-workers-position {
}
.co-workers-accept {
}
.co-workers-table {
}
.visually-hidden {
}
.co-workers-board {
}
.board {
}
.board-item {
}
.board-left {
}
.board-caption {
}
.board-details {
}
.board-coworker {
}
.person {
}
.person-thumb {
}
.person-avatar {
}
.person-caption {
}
.board-right {
}
.board-tag {
}
.badge-warning {
}
.badge-danger {
}
.hide {
}
.badge-success {
}
.co-workers-btn {
}
.btn {
}
.btn--secondary {
}
.btn-inner {
}
