@use "../abstracts" as *;

.welcome {
  grid-area: welcome;

  & .page-title {
    margin-bottom: $v-sp-md;
  }

  & .page-title-accent {
    font-size: $v-fs-md;
    color: $v-text-title;
    font-weight: $v-fw-medium;
    text-align: center;
  }

  & .welcome-btn {
    @include flex-y(8px);

    border-radius: $v-r-lg;
    padding: $v-sp-sm $v-sp-md;
    color: $v-btn-text-primary;
    background-color: $v-btn-primary;

    & .btn-icon {
      fill: $v-svg-secondary;
    }
  }
}
