@use "../abstracts" as *;

.welcome {
  grid-area: welcome;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  gap: $v-sp-md;

  & .page-title-accent {
    font-size: $v-fs-md;
    color: $v-text-title;
    font-weight: $v-fw-medium;
    text-align: center;
  }

  & .welcome-btn {
    border-radius: $v-r-lg;
    padding: $v-sp-sm $v-sp-md;
    color: $v-btn-text-primary;
    background-color: $v-btn-primary;
    transition: transform 250ms ease-in-out;

    @include flex-y(8px);
    @include hover {
      transform: scale(0.9);
    }

    @include pressed {
      background-color: $v-btn-pressed;
    }

    & .btn-icon {
      fill: $v-svg-secondary;
    }
  }
}
