@use "./mixins" as mx;

%title-xl {
  font-size: 24px;
  font-weight: 700;
  line-height: 167%;
  letter-spacing: 0.02em;
}

%title-lg {
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0.03em;
}

%title-md {
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.03em;
}

%text-base {
  @extend %title-md;
  font-weight: 400;
}

%text-sm {
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.04em;
}

%caption {
  @extend %text-sm;
  font-weight: 400;
}

%section-frame {
  padding: 16px;
  border-radius: 12px;

  @include mx.mq("lg") {
    padding: 24px;
  }
}
