$COLOR: (
  // BASE
  lightt: #ffffff,
  light-primary: #f1f1f2,
  light-secondary: #b5b5b6,
  light-tertiary: #8c8c96,

  darkk: #000000,
  dark-primary: #131313,
  dark-secondary: #1c1c24,
  dark-tertiary: #26262c,

  // ACCENTS
  accent-primary: #f97316,
  accent-secondary: #f05227,
  accent-tertiary: #d1450a,

  // FEEDBACK
  danger: #f43f5e,
  warning: #a855f7,
  success: #22c55e,
  info: #6366f1,

  // BUTTON PRIMARY STATES
  button-primary: #f97316,
  button-primary-hover: #f05227,
  button-primary-pressed: #d1450a,
  button-primary-disabled: #b5b5b6,

  // BUTTON ADDITIONAL STATES (припускаю синій акцент)
  button-additional: #6366f1,
  button-additional-hover: #4f46e5,
  button-additional-pressed: #4338ca,
  button-additional-disabled: #8c8c96,

  // BUTTON DANGER
  button-danger: #f43f5e,
  button-danger-hover: #e11d48,
  button-danger-pressed: #be123c,
  button-danger-disabled: #b5b5b6,

  // BUTTON SUCCESS
  button-success: #22c55e,
  button-success-hover: #16a34a,
  button-success-pressed: #15803d,
  button-success-disabled: #b5b5b6,

  // BUTTON WARNING
  button-warning: #a855f7,
  button-warning-hover: #9333ea,
  button-warning-pressed: #7e22ce,
  button-warning-disabled: #b5b5b6,

  // BUTTON INFO
  button-info: #6366f1,
  button-info-hover: #4f46e5,
  button-info-pressed: #4338ca,
  button-info-disabled: #b5b5b6
);
