@use "../abstracts" as *;

html {
  font-size: $fs-primary;
  scroll-behavior: smooth;
  background-color: $bg-primary;
}

// Базові стилі для body
body {
  @include clamp($bp-xs, $bp-wide, $fs-primary, 16px);
  font-family: $ff-primary, sans-serif;
  color: $text-primary;

  & button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
  }

  & summary {
    list-style-type: none;
  }

  & svg {
    fill: $fill-primary;
  }
}
