@use "../abstracts" as *;

html {
  font-size: $v-fs-base;
  background-color: $v-bg-primary;
  scroll-behavior: smooth;
}

body {
  @include clamp($bp-xs, $bp-desktop, $fs-base, 14px);
  font-family: $v-ff-primary, sans-serif;
  font-weight: $v-fw-regular;
  line-height: $v-lh-base;

  color: $v-text-primary;

  & button {
    font-family: inherit;
    color: currentColor;
    cursor: pointer;
  }

  & summary {
    list-style-type: none;
  }

  & svg {
    fill: $v-svg-primary;
    transition: fill 1000ms ease-in-out;

    @include hover {
      fill: $v-svg-secondary;
    }
  }
}
