@use "../abstracts" as *;

.header {
  grid-area: header;

  @include flex-y;
  padding: $sp-md;

  @include mq(desktop) {
    background-color: $bg-secondary;
    padding: $sp-lg;
  }

  & .menu-btn {
    @include flex-y;

    gap: $sp-md;
    margin-right: auto;

    @include mq(desktop) {
      display: none;
    }
  }

  & .search-input {
    width: 100%;
    @include mq(desktop, max) {
      display: none;
    }
  }

  & .search-field {
    margin-right: $sp-md;

    @include mq(desktop) {
      width: 100%;
      display: flex;
      gap: $sp-sm + 2;
    }
  }
}
