@use "../abstracts" as *;

.layout {
  @include respond-to(desktop) {
    display: grid;
    grid-template-columns: rem(248px) 1fr;
    grid-template-rows: rem(68px) 1fr;

    grid-template-areas:
      "sidebar header"
      "sidebar main";
  }
  min-width: $var-bp-mobile;
}
