@use "../abstracts" as *;

.sidebar {
  grid-area: sidebar;

  @include mq(desktop, max) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    opacity: 0;
    visibility: hidden;

    background-color: $v-bg-overlay;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
  }

  & .menu {
    position: relative;

    height: 100%;
    background-color: $bg-secondary;

    @include mq(desktop, max) {
      max-width: rem(248px);

      background-color: $bg-primary;
    }
  }

  & .menu-btn {
    position: absolute;
    right: 0;

    stroke: $svg-primary;

    @include mq(desktop) {
      display: none;
    }
  }

  & .logo {
    position: relative;

    height: rem(68px);

    display: flex;
    align-items: center;

    padding: $sp-md $sp-lg;
    gap: $sp-sm;

    font-weight: $fw-bold;
    font-size: $fs-lg;

    color: $v-text-accent;
  }

  & .menu-link {
    display: flex;
    padding: $sp-md $sp-lg;
    gap: $sp-lg;
    color: $v-text-primary;
    transition: color 350ms ease-in-out;

    @include hover {
      color: $v-text-title;

      & .menu-icon {
        fill: $v-svg-secondary;
      }
    }
  }
}
