$ALIAS-COLOR: (
  // TEXT
  text-primary: lightt,
  text-secondary: light-secondary,
  text-tertiary: light-tertiary,
  text-link: info,
  text-link-hover: warning,

  // BACKGROUND
  bg-primary: darkk,
  bg-secondary: dark-primary,
  bg-tertiary: dark-secondary,
  bg-overlay: dark-tertiary,
  bg-hover: light-secondary,

  // BORDER
  border-primary: dark-tertiary,
  border-secondary: dark-secondary,
  border-tertiary: light-tertiary,

  // BUTTON
  // Primary
  button-bg-primary: button-primary,
  button-text-primary: lightt,
  button-hover-primary: button-primary-hover,

  // Secondary
  button-bg-secondary: light-secondary,
  button-text-secondary: darkk,
  button-hover-secondary: light-tertiary,

  // Tertiary
  button-bg-tertiary: accent-tertiary,
  button-text-tertiary: lightt,
  button-hover-tertiary: accent-secondary,

  // BRAND
  brand-main: accent-primary,
  brand-accent: accent-secondary,
  brand-dark: darkk,
  brand-light: lightt // #ffffff
);
